#define DEFAULT 0
#define NUMARW  1
#define SYM     2
#define FN      3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6
#define SPARE   7

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    macros {
        Hiragana: Hiragana {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(SPACE)>;
            label = "HIRAGANA";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <NUMARW SYM>;
            then-layer = <FN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWRT";
            bindings = <
&kp Q      &kp W     &kp E    &kp R    &kp T                              &kp Y     &kp U     &kp I     &kp O        &kp P
&kp A      &kp S     &kp D    &kp F    &kp G                              &kp H     &kp J     &kp K     &kp L        &kp ENTER
&kp Z      &kp X     &kp C    &kp V    &kp B                              &tog FN      &kp N     &kp M  &tog SCROLL  &kp RSHFT
&kp LGUI  &kp LALT  &kp LCTRL  &kp SPACE  &mo NUMARW  &mo SYM  &kp BSPC    &mo NUMARW   &kp ESC
            >;
        };

        numarw_layer {
            label = "NUMARW";
            bindings = <
&none  &kp F2  &kp N1  &kp N2  &kp N3                          &none     &kp UP    &kp LPAR      &kp RPAR  &kp MINUS
&kp TAB  &none  &kp N4 &kp N5  &kp N6                      &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_DN  &none
&none  &none  &kp N7  &kp N8     &kp N9                         &none   &none  &none    &none      &none
&none  &none  &kp N0  &trans     &trans        &trans     &trans   &trans    &trans
            >;
        };

        symbol_layer {
            label = "SYM";
            bindings = <
&kp EXCL   &kp AT     &kp HASH  &kp DLLR  &kp PRCNT                     &kp CARET  &kp AMPS  &kp STAR   &kp LPAR  &kp RPAR
&kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BSLH                      &kp GRAVE  &kp SQT   &kp SEMI   &kp LT    &kp GT
&kp UNDER  &kp PLUS   &kp LBRC  &kp RBRC  &kp PIPE                      &kp TILDE  &kp DQT   &kp COLON  &kp DOT   &kp SLASH
&trans     &trans     &trans    &trans    &trans    &trans     &trans   &trans     &trans
            >;
        };

        fn_layer {
            label = "FN";
            bindings = <
&kp F1       &kp F2      &kp F3  &kp F4  &kp F5                         &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
&kp F11      &kp F12     &none   &none   &none                          &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR
&bootloader  &sys_reset  &none   &none   &none                          &tog FN  &none         &none         &none         &Hiragana
&trans       &trans      &trans  &trans  &trans   &trans     &trans     &trans        &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans     &trans     &trans     &mkp LCLK  &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans   &trans     &mkp RCLK
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans       &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &tog SCROLL       &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans   &trans  &trans
            >;
        };

        snipe_layer {
            label = "SNIPE";
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans   &trans  &trans
            >;
        };

        spare_layer {
            label = "SPARE";
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans   &trans  &trans
            >;
        };
    };
};
